{{ block title }}
Some questions about yourself
{{ endblock }}
{{ block content }}

In this final part, we would like you to answer the following questions about yourself.

{{ formfields }}

{{next_button}}




<!-- {{ block title }}
Some questions about yourself
{{ endblock }}


{{ block content }}

<style>
    .do-not-show {
        display: none;
    }
</style>

In this final part, we would like you to answer the following questions about yourself.

{{ formfield "age" }}

{{ formfield "feel_closest" }}

<div id="feel_closest_party-box" class="do-not-show">
    {{ formfield "feel_closest_party" }}
</div>

{{ formfield "how_polarised" }}


{{next_button}}

{{ endblock }}



{{ block scripts }}
<script>
    let feel_closest_party_box = document.getElementById("feel_closest_party-box");
    let feel_closest_party_select = document.getElementById("id_feel_closest_party");
    let feel_closest_select = document.getElementById("id_feel_closest");


    feel_closest_select.addEventListener("change", function () {
        if (feel_closest_select.value == "yes") {
            feel_closest_party_box.classList.remove("do-not-show");
            feel_closest_party_select.required = true;
        } else {
            feel_closest_party_box.classList.add("do-not-show");
            feel_closest_party_select.required = false;
        }
    });
</script>
{{ endblock }} -->


{{ endblock }}