{{ block title }}
Political Beliefs of <strong>{{ friend_name }}</strong>
{{ endblock }}
{{ block content }}

We now ask you the same political questions as before.
Please click on the response option that you think
<strong>
    {{ friend_name }}
</strong>
would probably select.


<table class="table">
    <thead>
        <tr>
            <th style="width: 65%;">Statement</th>
            <th style="width: 45%;"><em>{{ friend_name }}</em>'s response</th>
        </tr>
    </thead>
    <tbody>
        {{ for field, question in field_question_pairs }}
        <tr>
            <td>{{ question }}</td>
            <td>{% formfield field %}</td>
        </tr>
        {{endfor}}
    </tbody>
</table>




{{next_button}}


{{ endblock }}