<div class="card bg-light m-3">
    <div class="card-body">

        <h3>
            Instructions
        </h3>

        <p>
            In this study, we will first ask a few questions about your own political beliefs. There are no right or
            wrong answers. In the next chapter, you will list three of your social contacts. We then ask you to report
            what you
            think these social contacts would answer to the same political questions. And what your think a typical
            Green voter and a typical AfD voter will respond. Finally, we ask you to map the distance you perceive
            between your own,
            your social contacts', and the typical Green/AfD voter's opinions as political positions on a 2D map. We
            will provide some more example individuals and ask you
            to also position these statements onto the map.

        </p>
        <p><i>You will be paid XX if you complete all steps.</i></p>



    </div>
</div>