<div class="card bg-light m-3">
    <div class="card-body">

        <h3>
            Instructions
        </h3>

        <p>
            In this study, we will ask you to reflect on your meat eating habits and motivations. 
            We will also ask you about the meat eating habits and motivations of your most important social contacts.
            There are no right or wrong answers. We are interested in trying to understand what is important to you. 
            A Large Language Model (LLM) will attempt to summarize what you have written into short statements,
            and we will ask you to judge how accurate these statements reflect what you have written. 
            You will then be asked to consider whether some of the habits and motivations of you and your social contacts influence each other. 
            Finally, we will ask you to complete a short survey and to answer demographic questions. 
        </p>
        <p>In this study, by "meat", we mean any meat or meat products, including chicken, fish, beef, pork, lamb, mutton, goat etc.
        <p><i>You will be paid XX if you complete all steps.</i></p>



    </div>
</div>