<div class="card bg-light m-3">
    <div class="card-body">

        <h3>
            Instructions
        </h3>

        <p>
            In this study, we will first ask a few questions about your own political beliefs. There are no right or
            wrong answers. Then a Large Language Model (LLM) will attempt to summarize what you have said into short statements
            that we will ask you to judge. You will then be asked to draw your own belief network based on these statements.
            This will include judging which statements are important to you, and which statements are related to each other. 
            Finally, we will ask you to complete a short survey and to answer demographic questions. 
        </p>
        <p><i>You will be paid XX if you complete all steps.</i></p>



    </div>
</div>