{% load static %}

{{ block title }}
Training Results
{{ endblock }}

{{ block content }}


<p id="training-message">{{isTrainingPassedMsg}}</p>
<img id="training-result-img" src="{% static 'correctTraining.png' %}" alt="Training Failed">



{{ next_button }}


{% comment %}
<!-- 
<script>
    var isTrainingPassed = {{ isTrainingPassed }};
    var messageElement = document.getElementById("training-message");
    var imageElement = document.getElementById("training-result-img");
    messageElement.textContent = isTrainingPassed;
    if (isTrainingPassed) {
        messageElement.textContent = "You have passed the training.";
    } else {
        messageElement.textContent = "Hmm, something went wrong. You did not meet at least one of the criteria. (1) the distance between F and 'self' should be smaller than the distance between C and 'self'. (2) the distance between S and C (and S and F) should be smaller than the distance between S and 'self'";
        imageElement.style.display = "block"; // Show image only when training fails    
    }
</script> -->
{% endcomment %}

{{ endblock }}