{% block content %}
<h2>Link Motivations to Your Meat Eating</h2>

<p>For each statement below, indicate whether it motivates you to eat more or less meat.</p>

<form method="post" id="mappingForm">
    <table>
        <tr>
            <td style="vertical-align: top;">
                <h3>Motivations</h3>
                <ul>
                    {% for motivation in motivations %}
                        <li>
                            <strong>{{ motivation }}</strong><br>
                            <select name="link_{{ forloop.counter0 }}">
                                <option value="">-- Select --</option>
                                <option value="more">Motivates me to eat more meat</option>
                                <option value="less">Motivates me to eat less meat</option>
                            </select>
                        </li>
                    {% endfor %}
                </ul>
            </td>

            <td style="vertical-align: top; padding-left: 3rem;">
                <h3>Behavior</h3>
                <div style="border: 1px solid #aaa; padding: 1rem; font-weight: bold;">
                    {{ behavior_statement }}
                </div>
            </td>
        </tr>
    </table>

    {{ next_button }}
</form>
{% endblock %}
