{{ block title }}
Your political beliefs
{{ endblock }}
{{ block content }}

<style>
    .extra-space {
        margin-top: 1.5em;
        border-top: 1px solid #ccc;
        padding-top: 0.5em;
    }
</style>


Please answer the following questions about your own political opinions


<table class="table">
    <thead>
        <tr>
            <th style="width: 65%;">Statement</th>
            <th style="width: 45%;"> Your response</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ question_climate_concern }}</td>
            <td>{{ form.own_climate_concern }}</td>

        </tr>
        <tr>
            <td>{{ question_gay_adoption }}</td>
            <td>{{ form.own_gay_adoption }}</td>
        </tr>
        <tr>
            <td>{{ question_migration_enriches_culture }}</td>
            <td>{{ form.own_migration_enriches_culture }}</td>
        </tr>
        <tr>
            <td>{{ question_govt_reduce_inequ }}</td>
            <td>{{ form.own_govt_reduce_inequ }}</td>
        </tr>

    </tbody>
</table>


{{next_button}}

{{ endblock }}